<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MATHIASDB" connectionString="Data Source=ARNAUD\SQLSERVER;Initial Catalog=MATHIAS;Persist Security Info=True;User ID=sa;Password=0150zc41" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>